# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs
*.log
*.out
*.err

# OS files
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
